{% extends "layouts/main.njk" %} 

{% block page_title %}Inscription{% endblock %}
{% block page_content %}
<div class="row">
  <div class="col-lg-4"></div>
  <div class="col-lg-4">
    <div class="container mt-5 text-white">
      <form action="/register" method="post">
        <div class="form-container">
          <h2>Inscription</h2>
          <div class="mb-3 mt-3">
            {% if errors %}
            <div class="alert alert-danger" role="alert">
              <ul>
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}
            <label for="email">Email:</label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Entrez votre email"
              name="email"
              value="{{ email }}"
            />
          </div>
          <div class="mb-3">
            <label for="password">Mot de passe</label>
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="Entrez votre mot de passe"
              name="password"
            />
          </div>
          <div class="mb-3">
            <label for="password_verif">Mot de passe</label>
            <input
              type="password"
              class="form-control"
              id="password_verif"
              placeholder="Confirmez votre mot de passe"
              name="password_verif"
            />
          </div>
          <div class="alert text-center text-white">
            Vous possédez déjà un compte ?<a
              href="/login"
              class="alert-link"
            >
              Connectez-vous !</a
            >
          </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-danger">S'inscrire</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
