<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block page_title %}{% endblock %} - Claoude Gamingue</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script src="/js/bootstrap.bundle.min.js"></script>
  </head>
  <body class="bg-image2" style="height: 100%">
    {% block page_content %}{% endblock %}
  </body>
</html>
