<nav class="navbar navbar-expand-sm bg-danger navbar-dark">
  <div class="container-fluid">
    <!-- Links -->
    <ul class="navbar-nav">
      <a class="navbar-brand" href="#"></a>
      <img src="/img/logo.png" style="width: 70px" />
      <li class="nav-item active">
        <a class="nav-link active" href="/home">Jeux</a>
      </li>
    </ul>
  </div>
</nav>
